/* SEARCH */
#wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
}

#searchForm {
    position: fixed;
    top: 50%;
    right: 3%;
    max-width: 200px;
}

.form-group {
    position: relative;
}

#search {
    color: #000 !important;
    font-weight: 900;
    width: auto;
}

.form-control {
    background-color: #ccc;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 1);
}

.searchBtn {
    position: relative;
    right: -48%;
}

.glyphicon {
    right: -72%;
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 40px;
    color: black;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.showMe { 
    max-width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
}

.showHim:hover .showMe {
    visibility: visible;
    opacity: 1;
}

.showHim {
    z-index: 99;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}

.container { padding-top:8%; }


a {
    text-decoration: none;
}

h1, h3, h4 {
    color: #fff !important;
    text-shadow:#000000 0px 1px, #000000 1px 0px, #000000 1px 1px, #000000 1px 2px, #000000 2px 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.thumbnail { 
    margin: 15px;
    padding-bottom: 3%; 
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #999999 solid; 
}

@media all and (max-width:1200px) {
    .container {
        padding-top: 6%;
    }
    .thumbnail {
        margin-top: 10%;
    }
}

@media all and (max-width: 699px) {
    .thumbnail {
        margin-top: 15%;
    }
}


@media all and (max-width: 500px) {
    .thumbnail {
        margin-top: 40%;
    }
}

@media all and (max-width: 398px) {
    .thumbnail {
        margin-top: 50%;
    }
}

