.certificate-image {
    height: 100%;
    width: 100%;
    padding: 2%;
}
.btn {
    background-color: #999999;
}

.container {
    margin-top: 3%;
    padding: 2%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #999999 solid; 
    font-size: 20px;
    color: #fff !important;
    text-shadow:#000000 0px 1px, #000000 1px 0px, #000000 1px 1px, #000000 1px 2px, #000000 2px 1px;
}
    
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 2%;
    padding-top: 7%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
   #wrapper {
       margin-top: 30%;
   }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
   #wrapper {
       margin-top: 10%;
   }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

* {
    -webkit-animation: fadeIn .3s ease-out;
    animation: fadeIn .3s ease-out;;
}