<div id="wrapper">
    <div class="container">
        <div class="row">
            <h2>{{certificate?.name}} </h2>
        </div>
        <a class="btn btn-default pull-right" style="margin:2%;" (click)='next()'>
            <i class="glyphicon glyphicon-chevron-right"></i> Next
        </a>
        <a class="btn btn-default pull-right" style="margin:2%;" (click)='onBack()'>
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <div class="row">
            <div>{{certificate?.description}}</div>
            <img [src]="certificate?.imageUrl" [alt]="certificate?.name" class="certificate-image">
        </div>
    </div>
</div>