<div id="wrapper">
    <div class="container">
        <div class="row">
            <h2>{{certificate?.name}} </h2>
        </div>
        <a class="btn btn-default pull-right" title="Next" style="margin:2%;" (click)='next()'>
            <i class="glyphicon glyphicon-chevron-right"></i> 
        </a>
        <a class="btn btn-default pull-right" title="All" style="margin:2%;" (click)='all()'>
            <i class="glyphicon glyphicon-th-list"></i> 
        </a>
        <a class="btn btn-default pull-right" title="Back" style="margin:2%;" (click)='back()'>
            <i class="glyphicon glyphicon-chevron-left"></i> 
        </a>
        <div class="row">
            <div>{{certificate?.description}}</div>
            <img [src]="certificate?.imageUrl" [alt]="certificate?.name" class="certificate-image">
        </div>
    </div>
</div>