/* app css stylesheet */
.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

html {
  font-size: 14px;
  color: #000 !important;
  padding: 0;
  margin: 0;
  height: 100%;
}
.row{ margin: 0; }

a {
  text-decoration: none;
  cursor: pointer;
}

body {
    background: url(./app/assets/images/bg.jpg) no-repeat  55% 18% fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000 !important;
    height: 100%;
}

footer {
  overflow: hidden;
}

#goTop {
  color: #000000 !important;
  text-shadow:#bbb 0px 1px, #bbb 1px 0px, #bbb 1px 1px, #bbb 1px 2px, #bbb 2px 1px;
  cursor: pointer;
  position: relative;
  left: 95%;
}


.align {
  text-align: left;
  position: relative;
  top: 150px;
  left: 25%;
}


@media screen and (max-width: 1001px) {
    #goTop {
      left: 90%;
    }
    .align {
      left: 10%;
    }
}

.font-up {
  font-size: 60px;
  text-transform: uppercase;
}
