/* SEARCH */
#wrapper {
    background:#ccc !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

#searchForm {
    position: fixed;
    top: 50%;
    right: 3%;
    max-width: 200px;
}

.form-group {
    position: relative;
}

#search {
    color: #000 !important;
    font-weight: 900;
    width: auto;
}

.form-control {
    background-color: #ccc;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 1);
}

.searchBtn {
    position: relative;
    right: -48%;
}

.glyphicon {
    right: -72%;
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 40px;
    color: black;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.showMe { 
    max-width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
}

.showHim:hover .showMe {
    visibility: visible;
    opacity: 1;
}

.showHim {
    z-index: 99;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}

.container { padding-top:4%; }