<div id="wrapper">
    <div class="row">
        <div class="showHim col-md-12">
            <form id="searchForm">
                <i class="glyphicon glyphicon-search"></i>
                <div class="form-group showMe">
                    <input type="text" class="form-control" placeholder="Search Sessions" [(ngModel)]='listFilter' [ngModelOptions]="{standalone: true}">
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <h1>Examples: Angular 2</h1>
        <h4>This section is dedicated to show some AngularJS 2 property binding and routing examples. <br> Everything is inside a component, inside a module, it's really awesome!
        <br> You can find the source code in my public GitHub <a href="https://github.com/FacundoMalgieri">repository</a>.</h4>
        <h3 class="alignLeft">Filtered by: {{listFilter}} </h3>
        <div class="col-md-6" *ngFor="let event of events | FilterPipe: listFilter">
            <event-thumbnail [event]="event"></event-thumbnail>
        </div>
    </div>
</div>