#header-comp {
    min-height: 700px; 
    height: 100%; 
    top:0%;
    max-height: 100%;
    border-bottom: 1px #999999 solid;
}

.parent {
    height: 400px;
    position: relative;
}

#tit { 
    position: relative;
    left: 5%;
    right: 10%;
    top: 25%;
    font-weight: 900;
    font-size: 70px; 
    line-height: 121%;
    color: #bbb !important;
    text-shadow:#000000 0px 1px, #000000 1px 0px, #000000 1px 1px, #000000 1px 2px, #000000 2px 1px,#000000 2px 2px, #000000 2px 3px, #000000 3px 2px, #000000 3px 3px;
    letter-spacing:5px;
    z-index: 1;

}

#subTit {
    font-weight: 200;
    font-size: 50px; 
    line-height: 100%;
}

@media screen and (max-width: 600px) {
    #tit {
        font-size: 40px;
        font-weight: 450px;
        top:70%;
        left: 10%;
    }
   #subTit {
     font-weight: 100;
     font-size: 25px;   
    }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
    #tit {
        font-size: 50px;
        font-weight: 550px;
        top:55%;
        left: 7%;
    }
   #subTit {
     font-weight: 200;
     font-size: 30px;   
    }
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    padding-left: 1%;;
}


