#header-comp {
    min-height: 700px; 
    height: 100%; 
    top:0%;
    max-height: 100%;
    width: 100%;
    -webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s; 
    animation: fadein 3s;
}

.parent {
    height: 400px;
    position: relative;
}

#tit { 
    position: relative;
    left: 5%;
    right: 10%;
    top: 25%;
    font-weight: 400;
    font-size: 70px; 
    line-height: 121%;
    color: #fff !important;
    text-shadow:#000000 0px 1px, #000000 1px 0px, #000000 1px 1px, #000000 1px 2px, #000000 2px 1px;
    letter-spacing:5px;
}

#subTit {
    font-weight: 200;
    font-size: 50px; 
    line-height: 100%;
}

@media screen and (max-width: 600px) {
    #tit {
        font-size: 40px;
        font-weight: 250px;
        top:70%;
        left: 10%;
    }
   #subTit {
     font-weight: 100;
     font-size: 25px;   
    }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
    #tit {
        font-size: 50px;
        font-weight: 350px;
        top:55%;
        left: 7%;
    }
   #subTit {
     font-weight: 100;
     font-size: 30px;   
    }
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    padding-left: 1%;;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*SLIDESHOW*/