<header id="top" class="navbar nav-down">
    <div class="container">
        <ul>
            <li>
                <audio controls preload> 
                    <source src="/app/assets/images/music.mp3" type="audio/mpeg">
                    <embed height="50" width="100" src="horse.mp3">
                </audio>
            </li>
        </ul>
        <ul>
            <li><a title="Home" (click)="home()" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a title="Certificates" [routerLink]="['/certificates']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Certificates</a></li>
            <li><a title="Bio" (click)="bio()" [routerLink]="['/home/bio']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Bio</a></li>
            <li id="hideMenu"><a><span id="glyphi" title="Hide Menu" class="glyphicon glyphicon-chevron-up"></span></a></li>
        </ul>
    </div>
</header>

<!--<div id="nav" class="open">
    <span class="cls glyphicon glyphicon-remove"></span>
    <span>
        <ul class="sub-menu ">
            <li>
                <a id="fst" title="Home" (click)="home()">Home</a>
            </li>
            <li>
                <a title="Events" (click)="events()">Events</a>
            </li>
            <li>
                <a title="Bio" (click)="bio()">Bio</a>
            </li>   
        </ul>
    </span>
    <span class="cls glyphicon glyphicon-remove"></span>
</div>-->