<div id="header-comp" class="row bg">
    <div class="col-md-6 parent">
        <b id="tit">FACUNDO MALGIERI <br>
        <span id="subTit">WEB DEVELOPER <br>
            TEST <br> 
            AUTOMATION <br>
            ENGINEER
        </span>
        </b>
       
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 bg1">
                <nav-bar></nav-bar>
            </div>
        </div>
        <div class="row">
            <div class="showHim col-md-12">
                <form id="searchForm">
                <i class="glyphicon glyphicon-search"></i>
                    <div class="form-group showMe">
                        <input type="text" class="form-control" placeholder="Search Sessions">
                        <button class="btn btn-default searchBtn">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<footer-comp></footer-comp>