<div id="header-comp" class="row bg">
    <div class="showHim col-md-2">
        <h2 id="search"><span class="glyphicon glyphicon-search button"></span></h2>
        <form class="showMe" id="searchForm">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Sessions">
            </div>
            <button class="btn btn-default">Search</button>
        </form>
    </div>
    <div class="col-md-6 wrapper ">
        <b id="tit">TITLE THAT SAYS SOMETHING REALLY FANCY AND STUPID ABOUT THE WEB SITE</b>
    </div>
    <nav-bar></nav-bar>
</div>