#footer {
    background: url(./app/assets/images/bg2.jpg) no-repeat 50% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 1px #999999 solid;
    text-align: center;
    overflow: hidden; 
    min-height: 155px;
}

.bg {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.5) no-repeat;  
    color: #ccc !important;   
    min-height: 155px;
 
}

a {
    color: #ccc !important;
    text-decoration: none;    
}

span {
    font-size: 30px;
    padding: 1%;
}

