<div id="footer" class="row">
    <div class="row bg">
        <a href="https://ar.linkedin.com/in/facundo-malgieri-0a90b5119"><span class="icon-social-linkedin"></span></a>
        <a href="https://es-la.facebook.com/facu.malgieri"><span class="icon-social-facebook"></span></a>
        <a href="https://www.instagram.com/fac.u/"><span class="icon-social-instagram"></span></a>
        <a href="https://twitter.com/FacundoMalgieri"><span class="icon-social-twitter"></span></a>
        <a href="mailto:facundo.malgieri@gmail.com"><span class="icon-social-google"></span></a>
        <h3>Facundo Malgieri © 2017</h3>
    </div>
</div>