#footer {
    background: url(./app/assets/images/bg2.jpg) no-repeat 50% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 1px #999999 solid;
    text-align: center;
    bottom: 0;
    overflow: hidden; 
}

.bg {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.5) no-repeat;  
    color: #fff;
}

span {
    font-size: 30px;
    padding: 1%;
}

