<h4 id="intro">
    <h3>Biography</h3>
    <hr>
    <div class="row">
        <div id="divider" class="col-md-6">
            &emsp; Facundo is a recently graduated programmer from UTN, Mar del Plata - Argentina, with great motivation and potential on learning. Born geek and lover of new technologies and ways of improving everything related to it. 
            <br><br> 
            &emsp;At the age of 8 he had his first computer, Pentium II with Windows 95 and since that moment he started on a one way trip into understanding how things work. In the present time, he became a person who never stays still and is constantly acquiring knowledge watching tutorials, making several online courses and coding day and night.
            <br><br> 
            &emsp;His projects are made with languages such as AngularJS, Java, HTML, CSS, jQuery, PHP and MySQL. In his final university <a href="http://rk000697.ferozo.com/facundo/Proyecto/" target="_blank">project</a>, he implements most of the preceding. I would like to dedicate my special thanks to Oscar Botteri, classmate, friend and mentor, who helped, and still helps me a lot through the whole process.                
        </div>
        <div class="col-md-6">
            &emsp;After graduating he started studying new languages like AngularJS and made an example website for himself wich can be seen <a href="http://rk000697.ferozo.com/facundo/AngularAppTest/app/" target="_blank">here</a>. He also made his own website with the purpose of learning AngularJS 2 and start building his professional portfolio.
            <br><br> 
            &emsp;In January 1s, 2017 he was selected as a Test Automation Engineer Trainee at Globant, after successfully completing a Bootcamp training that the company offered him. He's assigned to Thomas Cook project using technologies as Angular, Protractor and Jasmine, working with people from all over the world.
            <br><br> 
            &emsp;Now he’s looking forward to continue learning, improving his career and staying relevant in order to keep getting better and growing as a professional Programmer.
            
        </div>
    </div>
    <hr>
</h4>