<h4 id="intro">
    <h2>Biography</h2>
    Facundo is a recently graduated programmer from Mar del Plata (Argentina), with great motivation and potential on learning.
    Some of his projects are made with languages such as Java, HTML, CSS, jQuery, PHP and MySQL. In his final university
    project, he implements most of the preceding. After graduating he started studying AngularJS and made an example website
    for himself. He was selected as a TAE Developer Trainee after successfully completing Globant’s Bootcamp, now he’s looking
    forward to improve his career and stay relevant. (This website was also made by him with the purpose of learning Angular
    2)

</h4>