<div class="open">
    <span class="cls"></span>
    <span>
        <ul class="sub-menu ">
            <li>
                <a id="fst" title="Home" (click)="home()">Home</a>
            </li>
            <li>
                <a title="Events" (click)="events()">Events</a>
            </li>
            <li>
                <a title="Bio" (click)="bio()">Bio</a>
            </li>
            <li>
                <a title="contact">Contact</a>
            </li>          
        </ul>
    </span>
    <span class="cls"></span>
</div>