<header class="nav-down">
    <ul>
        
    <li><a title="Home" (click)="home()">Home</a></li>
    <li><a title="Events" (click)="events()">Events</a></li>
    <li><a title="Bio" (click)="bio()">Bio</a></li>
    </ul>
</header>

<!--<div id="nav" class="open">
    <span class="cls glyphicon glyphicon-remove"></span>
    <span>
        <ul class="sub-menu ">
            <li>
                <a id="fst" title="Home" (click)="home()">Home</a>
            </li>
            <li>
                <a title="Events" (click)="events()">Events</a>
            </li>
            <li>
                <a title="Bio" (click)="bio()">Bio</a>
            </li>   
        </ul>
    </span>
    <span class="cls glyphicon glyphicon-remove"></span>
</div>-->