<header id="top" class="navbar nav-down">
    <div class="container">
        <ul>
            <li><a title="Home" (click)="home()">Home</a></li>
            <li><a title="Bio" (click)="bio()">Bio</a></li>
            <li><a title="Examples" (click)="events()">Examples</a></li>
            <li id="hideMenu"><a><span id="glyphi" title="Hide Menu" class="glyphicon glyphicon-chevron-up"></span></a></li>
        </ul>
    </div>
</header>

<!--<div id="nav" class="open">
    <span class="cls glyphicon glyphicon-remove"></span>
    <span>
        <ul class="sub-menu ">
            <li>
                <a id="fst" title="Home" (click)="home()">Home</a>
            </li>
            <li>
                <a title="Events" (click)="events()">Events</a>
            </li>
            <li>
                <a title="Bio" (click)="bio()">Bio</a>
            </li>   
        </ul>
    </span>
    <span class="cls glyphicon glyphicon-remove"></span>
</div>-->